body,
html {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, Verdana;
}

header {
    background: #00d8ff;
    border-bottom: 1px solid #00b8df;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 49px;
    line-height: 49px;
    font-size: 24px;
}

.options {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    position: relative;
}

.option-item {
    float: left;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 1px solid #eee;
    position: relative;
}

.option-item:active {
    background: #369;
}

.option-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 74px;
    width: 2px;
    height: 140px;
    background: #eee;
    -webkit-transform: rotateZ(315deg);
    transform: rotateZ(315deg);
}

.you,
.computer {
    position: absolute;
    font-size: 32px;
}

.you {
    left: 10px;
    bottom: 10px;
    color: #f60;
}

.computer {
    right: 10px;
    top: 10px;
}

footer {
    background: #c05b4d;
    color: #fff;
    text-align: center;
    font-size: 13px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 20px;
    padding: 5px 0;
}

.hidden {
    display: none;
}

.startBtn {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #369;
    z-index: 2;
}

.mask {
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(200, 222, 255, .6);
    z-index: 1;
    line-height: 300px;
    text-align: center;
    font-size: 32px;
}